.section {
    // color: var(--text);
    // background-color: lightblue;
    // maybe try .5rem later we'll see
    margin-bottom: 1rem;

    
}

// maybe add some nice shadow
.title {
    
    font-family: var(--ff-open-sans);
    padding-left: 0.25rem;
    margin-bottom: 0.25rem;
}