@use '../_mixins' as mixins;

.stats {
    height: 100vh;
}


.container {
    margin: 50px auto 0 auto;
    width: 750px;
    height: 500px;
    // background-color: red;

}

.data {
    margin: 0 auto 0 auto;
    width: 750px;

    // background-color: red;
    display: flex;
    justify-content: space-evenly;
}

.box {
    // @include mixins.center-text;
    font-family: var(--ff-open-sans);
    background-color: var(--panel-bg);
    padding: 2rem 4rem;
    border-radius: 2rem;

    // height: 2rem

}